{#

{% include 'views/modules/cms/login/template.twig' %}

<a href="javascript:;" class="get-posts">view posts</a>
<a href="javascript:;" class="add-post">add new post</a>

{% include 'views/modules/cms/media-manager/template.twig' %}

{% include 'views/modules/cms/form/template.twig' %}

#}

<nav>
	<ul>
		<li><a href="/">home</a></li>
		<li><a href="/posts">view posts</a></li>
	</ul>
</nav>

<div class="app"></div>


