<header id="header">
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/posts">View Posts</a></li>
			<li><a href="/add-post">Add new Post</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</nav>
</header>