<form action="" class="login-form" style="display:none;">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="password">
	<button class="button" type="submit">Login</button>
</form>

<a href="javascript:;" class="logout" style="display:none;">Logout</a>