<form action="" class="login-form">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="password">
	<button class="button" type="submit">Login</button>
</form>

<a href="javascript:;" class="logout">Logout</a>